* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(228, 246, 244);
  min-height: 100vh;
  font-family: Cambria, Georgia, serif;
}

/* ===============================
   OVERLAY
   =============================== */
.overlay {
  background-color: rgba(18, 138, 151, 0.647);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  min-height: 600px;
  border: 1px solid rgb(14, 90, 90);
  border-radius: 20% 0%;
  margin: 50px auto;
  color: white;
}

/* ===============================
   HEADING
   =============================== */
.overlay h1 {
  padding: 100px 40px;
  font-size: 40px;
}

/* ===============================
   FACE
   =============================== */
.face {
  width: 300px;
  height: 200px;
  background-color: rgb(177, 214, 213);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  gap: 25px;
}

/* Eyes */
.eye {
  width: 60px;
  height: 30px;
  background: white;
  border-radius: 50%;
  border: 0.5px solid black;
  position: relative;
  overflow: hidden;
}

/* Eye ball */
.ball {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 5px;
  transition: 0.1s;
}

/* ===============================
   FORM CONTAINER
   =============================== */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  min-height: 450px;
  width: 350px;
  background-color: white;
  color: black;
  padding: 20px;
  margin-right: 50px;
}

/* ===============================
   FORM
   =============================== */
#myForm {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.notform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}

/* ===============================
   INPUTS
   =============================== */
input {
  margin: 5px 0 10px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(18, 138, 151);
  padding: 5px;
  transition: all 0.2s ease-in-out;
}

input:focus {
  outline: none;
  border-color: rgb(18, 138, 151);
  box-shadow: 0 0 5px rgba(18, 138, 151, 0.5);
}

/* ===============================
   PASSWORD FIELD
   =============================== */
.Password_box {
  position: relative;
}

#password {
  width: 100%;
}

.toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle:hover {
  opacity: 0.7;
}


/* Button */
button {
    height: 35px;
    border-radius: 5px;
    border: solid rgb(18, 138, 151) 1px;
    background-color: rgb(18, 138, 151);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: red;
    font-size: small;
}
