* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
    background-color: rgb(228, 246, 244);
    height: 1500px;
}

/* Overlay */
.overlay {
    background-color: rgba(18, 138, 151, 0.647);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 75%;
    border: solid rgb(14, 90, 90) 1px;
    border-radius: 20% 0%;
    margin: 50px auto;
    color: white;
}

/* Heading */
.overlay > h1 {
    padding: 100px 40px;
    margin: 0;
    font-family: Cambria, Georgia, serif;
    font-size: 40px;
}

/* Face */
.face {
    width: 500px;
    height: 200px;
    background-color: rgb(177, 214, 213);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* Eyes */
.eye {
    width: 60px;
    height: 30px;
    background: white;
    border-radius:50%;
    border: solid black 0.5px;
    position: relative;
    overflow: hidden;
}

/* Eye ball */
.ball {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 5px;
    left: auto;
    bottom: 7px;
    transition: 0.1s;
}

/* Form container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white 1px;
    border-radius: 10px;
    height: 60%;
    width: 350px;
    background-color: white;
    color: black;
    padding: 20px;
    margin-right: 50px;
}

/* Form */
#myForm {
    display: flex;
    flex-direction: column;
    width: 250px;
}

input {
    margin: 5px 0 10px;
    height: 30px;
    border-radius: 5px;
    border: solid rgb(18, 138, 151) 1px;
    padding: 5px;
}

/* Password box */
.Password_box {
    position: relative;
}
#password{
    width: 100%;
    box-sizing: border-box;
}
.toggle {
    gap: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Button */
button {
    height: 35px;
    border-radius: 5px;
    border: solid rgb(18, 138, 151) 1px;
    background-color: rgb(18, 138, 151);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: red;
    font-size: small;
}
