.overlay{
    background-color: rgba(18, 138, 151, 0.647);
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    height: 400px;
    border: solid rgb(14, 90, 90) 1px;
    border-radius: 20% 0%;
    margin: 100px 100px;
}
.overlay > h1{
    padding: 100px 40px;
    margin: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#myForm{
    display: flex;
    flex-direction: column;
    width: 300px;
}